
body{
    width: 804px;
    margin: auto;
}

.header{
    background-color: beige;
    width: 804px;
    clear: both;
}

.left{
    height: 400px;
    background-color: cadetblue;
    float: left;
}

.right{
    height: 400px;
    background-color: bisque;
    float: left;
}