<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="name-card">
    <div class="name-card__content-left">
      <img class="name-card__avatar" src="http://pngimg.com/uploads/tom_and_jerry/tom_and_jerry_PNG15.png" width="100px" height="100px">
    </div>
    <div class="name-card__content-right">
      <h3 class="name-card__heading"> {{cardName}} </h3>
      <p class="name-card__text"> {{email}} </p>
      <p class="name-card__text"> {{phone}} </p>
    </div>
  </div>
</body>
</html>
